# Created by .ignore support plugin (hsz.mobi)
/.idea
/data/mysql/*
/data/redis/*
/data/backup/*
!/data/backup/data-default.sql
/app/webroot/Application/Runtime/*
/logs/mysql/*
/logs/nginx/*
/logs/php-fpm/*
/logs/redis/*